@import "../assets/styles.scss";

$colors: $primary-color, $secondary-color, $third-color, $fourth-color;

.banner {
  background-color: $primary-color;
}

.columns .column {
  .box {
    transition: 0.2s;
  }
  @for $i from 1 through 4 {
    &:nth-child(#{$i}) {
      .box_divlink .box:hover {
        background-color: nth($colors, $i);
        .container .box_bar {
          background-color: #fff;
        }
        .container .box_body {
          color: #fff;
          .box_title {
            color: #fff;
          }
        }
      }
    }
  }
}

.box .container {
  .box_img {
    border-radius: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .box_body {
    display: flex;
    flex-direction: column;
    border-radius: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 15px;

    .box_title {
      font-size: $subtitle-size;
      color: rgb(14, 14, 14);
      font-weight: bold;
    }

    .box_bar {
      background-color: $primary-color;
      height: 5px;
      margin-top: 1px;
      margin-bottom: 2px;
    }
    .box_description {
      font-size: $small-font-size;
    }
    .box_link {
      font-size: $small-font-size;
      color: default;
    }
  }
}
