@charset "utf-8";

$title-color: #332946;
$primary-color: #00b8a9;
$secondary-color: #f6416c;
$third-color: #f8f3d4;
$fourth-color: #ffde7d;
$navbar-background-color: rgba(255, 255, 255, 0);

//own style
$small-font-size: 0.9em;

@import "~bulma/bulma.sass"; 